nav.navbar {
  margin-top: 136px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  .toggle {
      color: black;
      z-index: 10;
      margin-right: 10px;
      .dropdown {
          margin-top: 1rem;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          text-align: flex-end;
          background-color: rgba(255, 255, 255, 0.918);
          position: absolute;
          top: 50px;
          right: 10px;
          border-radius: 5px;
          z-index: 10;
          ul {
              display: flex;
              justify-content: flex-end;
              align-items: flex-end;
              flex-direction: column;
              color: black;
              text-align: end;
              padding: 1rem 2rem;
              a {
                  color: black;
                  z-index: 11;
                  align-self: flex-end;
                  margin-right: auto;
              }
          }
      }
  }
}