nav.navbar {
  margin-top: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  ul {
      // gap: 64px;
      display: block;
      @media (max-width: 790px) {
          display: none;
      }
     a {
      color: white;
      cursor: pointer;
      margin-right: 64px;
      font-weight: 700;
      z-index: 10;
      font-size: 16px;
      transition: font-size 0.3s;
     }
     a:hover {
      font-size: 20px;
     }
     .rightmost {
      margin-right: 116px;
      transition: margin-right 0.3s ease;
      @media (max-width: 1149px) {
          margin-right: 64px;
      }
     }
  }
  .toggle {
      display: none;
      color: white;
      z-index: 10;
      margin-right: 10px;
      @media (max-width: 790px) {
          display: block;
      }
      .dropdown {
          margin-top: 1rem;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          text-align: flex-end;
          background-color: rgba(255, 255, 255, 0.918);
          position: absolute;
          top: 50px;
          right: 10px;
          border-radius: 5px;
          z-index: 10;
          ul {
              display: flex;
              justify-content: flex-end;
              align-items: flex-end;
              flex-direction: column;
              color: white;
              text-align: end;
              padding: 1rem 2rem;
              a {
                  color: black;
                  z-index: 11;
                  align-self: flex-end;
                  margin-right: auto;
              }
          }
      }
  }
}