nav.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
  
    .toggle {
      cursor: pointer;
      z-index: 10;
    }
    .box {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      text-align: end;
      background-color: #ffffffc9;
      padding: 30px;
      position: absolute;
      top: 40px;
      right: 10px;
      border-radius: 5px;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
      z-index: 10;
  
      .dropdown {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        color: white;
        text-align: end;
        padding: 1px;
  
        li {
          margin-top: 8px;
          list-style-type: none;
          text-decoration: none;
          color: black;
        }
      }
    }
  }